# EditorConfig for easy-rpm
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 4
max_line_length = 80

[package.json]
indent_style = space
indent_size = 2
